/.phpunit.cache
/.phpunit.result.cache
phpunit.xml
phpunit.xml.back
composer.lock
.env
/public/js/filament/forms/components/file-upload.js
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/js/filament/forms/components/file-upload.js
